@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

/* カラー */
/* フォントファミリー */
body {
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  background-color: #e9f6f8;
}
body.is-fixed {
  overflow: hidden;
}

.inner {
  padding-inline: 20px;
}
.header {
  position: relative;
  z-index: 20;
  padding-block: 18px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header {
    padding-block: 14px;
  }
}

.header__inner {
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-inline: 24px;
  }
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 210px;
  height: 27px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 183px;
    height: 24px;
  }
}
.header__logo:hover {
  opacity: 0.6;
}

.header__icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 27px;
}
.header__icon.is-checked .header__icon-bar:nth-child(1) {
  width: 32px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.header__icon.is-checked .header__icon-bar:nth-child(2) {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  width: 0;
}
.header__icon.is-checked .header__icon-bar:nth-child(3) {
  display: none;
}
.header__icon.is-checked .header__icon-bar:nth-child(4) {
  width: 32px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}

.header__icon-bar {
  position: absolute;
  display: block;
  background-color: #4a3636;
  border-radius: 10px;
  height: 3px;
  -webkit-transition: top 0.3s, width 0.1s, -webkit-transform 0.3s;
  transition: top 0.3s, width 0.1s, -webkit-transform 0.3s;
  transition: transform 0.3s, top 0.3s, width 0.1s;
  transition: transform 0.3s, top 0.3s, width 0.1s, -webkit-transform 0.3s;
}
.header__icon-bar:nth-child(1) {
  width: 25.6px;
  top: 0;
  left: 0;
}
.header__icon-bar:nth-child(2) {
  width: 4.8px;
  top: 0;
  right: 0;
}
.header__icon-bar:nth-child(3) {
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__icon-bar:nth-child(4) {
  width: 100%;
  bottom: 0;
}

.header__nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6px;
  }
}
@media screen and (min-width: 900px) {
  .header__nav-list {
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 900px) {
  .header__nav-menu {
    gap: 12px;
  }
}

.header__nav {
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
}

.drawer {
  position: fixed;
  z-index: 19;
  background: #ffffff;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 59px);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.drawer.is-checked {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .drawer {
    display: none;
  }
}

.drawer__nav-list {
  margin-top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.drawer__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.drawer__nav {
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 14px;
}

.drawer__button a {
  display: inline-block;
}

.fv {
  background-image: url(../../img/fv/fv-bg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  padding-top: 19px;
}
@media screen and (min-width: 768px) {
  .fv {
    background-image: url(../../img/fv/pc/fv-bg.png);
    background-size: 1512px 740px;
    padding-top: 35px;
    padding-bottom: 50px;
    margin-bottom: -50px;
  }
}

.fv__text {
  color: #4a3636;
  font-family: "Kiwi Maru", serif;
  font-size: 14px;
  line-height: 1.25; /* 17.5px */
  text-align: center;
  text-shadow: 0px 0px 30px #ffffff;
}
@media screen and (min-width: 768px) {
  .fv__text {
    font-size: 24px;
    font-weight: 500;
  }
}

.fv__heading {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .fv__heading {
    margin-top: 24px;
  }
}

.fv__heading-image-1 img {
  width: 334px;
}
@media screen and (min-width: 768px) {
  .fv__heading-image-1 img {
    width: 520px;
  }
}

.fv__heading-image-2 {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .fv__heading-image-2 {
    margin-top: 16px;
  }
}
.fv__heading-image-2 img {
  width: 240px;
}
@media screen and (min-width: 768px) {
  .fv__heading-image-2 img {
    width: 356px;
  }
}

.fv__container {
  position: relative;
  padding-top: 235.6px;
  padding-bottom: 142.4px;
  margin: 0 auto;
  text-align: center;
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .fv__container {
    padding-top: 185.5px;
    padding-bottom: 180.5px;
    max-width: 848px;
  }
}

.fv__box {
  position: relative;
  height: 154px;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .fv__box {
    height: 194px;
  }
}

.fv-items__head {
  width: 160px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .fv-items__head {
    width: 200px;
  }
}

.fv-items__head-text {
  display: inline-block;
  padding: 6.4px 18.5px;
  border-radius: 12.8px 12.8px 0 0;
  background: linear-gradient(265deg, #ac3790 -3.52%, #d65a5c 44.94%, #f4c06d 92.38%);
  color: #ffffff;
  -webkit-font-feature-settings: "pref" on;
          font-feature-settings: "pref" on;
  font-family: "Noto Sans JP", serif;
  font-size: 12.8px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .fv-items__head-text {
    padding: 8px 23px;
    font-size: 16px;
  }
}

.fv-items__body {
  padding-top: 12.8px;
  padding-bottom: 19.2px;
  width: 160px;
  margin: 0 auto;
  border-radius: 0 0 12.8px 12.8px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .fv-items__body {
    width: 200px;
    padding-top: 16px;
    padding-bottom: 24px;
  }
}

.fv-items__body-text-1 {
  position: relative;
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .fv-items__body-text-1 {
    font-size: 14px;
  }
}
.fv-items__body-text-1::after {
  content: "";
  position: absolute;
  background-color: #ce2073;
  width: 48px;
  height: 2.4px;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 768px) {
  .fv-items__body-text-1::after {
    width: 56px;
    height: 3px;
  }
}

.fv-items__body-text-2 {
  margin-top: 6.4px;
  color: #4a3636;
  -webkit-font-feature-settings: "pref" on;
          font-feature-settings: "pref" on;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .fv-items__body-text-2 {
    margin-top: 8px;
    font-size: 16px;
  }
}

.fv-items__button {
  margin-top: 11.8px;
}
@media screen and (min-width: 768px) {
  .fv-items__button {
    margin-top: 16px;
  }
}
.fv-items__image-smartphone {
  position: absolute;
  z-index: 9;
  top: 113px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-smartphone {
    top: 33px;
  }
}
@media screen and (min-width: 768px) {
  .fv-items__image-smartphone {
    width: 250px;
  }
}

.fv-items__image-present {
  position: absolute;
  z-index: 8;
  top: 10px;
  right: 45px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-present {
    top: 17px;
    right: clamp(5.625rem, -13.679rem + 40.22vw, 7.938rem);
  }
}
.fv-items__image-present img {
  width: 110px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-present img {
    width: 180px;
  }
}

.fv-items__image-fukidashi {
  position: absolute;
  top: 17px;
  left: 20px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-fukidashi {
    top: 1px;
    left: clamp(0.938rem, -9.497rem + 21.74vw, 2.188rem);
  }
}
.fv-items__image-fukidashi img {
  width: 142px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-fukidashi img {
    width: 244px;
    height: 130px;
  }
}

.fv-items__image-cat-1 {
  position: absolute;
  z-index: 13;
  right: 29px;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .fv-items__image-cat-1 {
    right: 0;
    bottom: -43px;
  }
}
.fv-items__image-cat-1 img {
  width: 98px;
  height: 72px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-cat-1 img {
    width: 233px;
    height: 174px;
  }
}

.fv-items__image-cat-2 {
  position: absolute;
  z-index: 12;
  right: 20px;
  bottom: 58px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-cat-2 {
    right: 63px;
    bottom: 61px;
  }
}
.fv-items__image-cat-2 img {
  width: 62px;
  height: 69px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-cat-2 img {
    width: 170px;
    height: 190px;
  }
}

.fv-items__image-food {
  position: absolute;
  z-index: 11;
  bottom: 0;
  left: 23px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-food {
    left: 0;
  }
}
.fv-items__image-food img {
  width: 86px;
  height: 141px;
}
@media screen and (min-width: 768px) {
  .fv-items__image-food img {
    width: 202px;
    height: 332px;
  }
}

.about__inner {
  padding-top: 32px;
  padding-bottom: 32px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .about__inner {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.about__container {
  position: relative;
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 177px;
}
@media screen and (min-width: 768px) {
  .about__container {
    max-width: 888px;
    margin-bottom: 258px;
    padding-inline: 20px;
  }
}

.about__box {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 43px;
  border-radius: 24px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .about__box {
    gap: 33px;
    padding-inline: 114px;
    border-radius: 40px;
  }
}

.about__heading {
  position: relative;
}

.about__heading-image-1,
.about__heading-image-2 {
  position: absolute;
}
.about__heading-image-1 img,
.about__heading-image-2 img {
  width: 90px;
}
@media screen and (min-width: 768px) {
  .about__heading-image-1 img,
  .about__heading-image-2 img {
    width: 145px;
  }
}

.about__heading-image-1 {
  top: -10px;
  left: -21px;
}
@media screen and (min-width: 768px) {
  .about__heading-image-1 {
    top: -1px;
    left: -12.39px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.about__heading-image-2 {
  top: -10px;
  right: -34px;
}
@media screen and (min-width: 768px) {
  .about__heading-image-2 {
    top: 7px;
    right: -14.08px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.about__title,
.about__text-1,
.about__text-2 {
  color: #4a3636;
  text-align: center;
  font-family: "Noto Sans JP", serif;
}

.about__title {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__title {
    -webkit-font-feature-settings: "pref" on;
            font-feature-settings: "pref" on;
    font-size: 16px;
  }
}

.about__text-1 {
  font-size: 12px;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .about__text-1 {
    font-size: 16px;
  }
}
.about__text-1 .-bold {
  font-weight: 700;
}

.about__text-2 {
  position: relative;
  padding-block: 7px;
  border-bottom: 2px dashed var(--LP-Blue, #9ed0e0);
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about__text-2 {
    padding-block: 12px;
    font-size: 20px;
  }
}

.about__image-arrow {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}
.about__image-arrow img {
  width: 100px;
}
@media screen and (min-width: 768px) {
  .about__image-arrow img {
    width: 140px;
  }
}

.about__image-pawpads {
  position: absolute;
  z-index: 8;
  top: -10px;
  right: -20px;
}
@media screen and (min-width: 768px) {
  .about__image-pawpads {
    top: -80px;
    right: -46px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.about__image-pawpads img {
  width: 54px;
}
@media screen and (min-width: 768px) {
  .about__image-pawpads img {
    width: 100px;
  }
}

.about__image-diagonal-line {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__image-diagonal-line {
    display: block;
    position: absolute;
    top: -20px;
    left: -83px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .about__image-diagonal-line img {
    width: 250px;
  }
}

.about__image-right {
  position: absolute;
  z-index: 8;
  top: 273px;
  right: -160px;
}
@media screen and (min-width: 768px) {
  .about__image-right {
    top: 73.07px;
    right: 55px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@media screen and (min-width: 1300px) {
  .about__image-right {
    right: -116px;
  }
}
.about__image-right img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .about__image-right img {
    width: 480px;
  }
}

.about__image-left {
  position: absolute;
  top: 395px;
  left: -160px;
}
@media screen and (min-width: 768px) {
  .about__image-left {
    z-index: 9;
    top: 74px;
    left: 60px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@media screen and (min-width: 1300px) {
  .about__image-left {
    left: -170px;
  }
}
.about__image-left img {
  width: 200px;
}
@media screen and (min-width: 768px) {
  .about__image-left img {
    width: 480px;
  }
}

.about__image-slope {
  position: absolute;
  z-index: 8;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  left: -20px;
}
@media screen and (min-width: 768px) {
  .about__image-slope {
    left: 212px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    bottom: -309px;
  }
}
@media screen and (min-width: 1300px) {
  .about__image-slope {
    left: 12px;
  }
}
.about__image-slope img {
  width: 138px;
}
@media screen and (min-width: 768px) {
  .about__image-slope img {
    width: 427px;
  }
}

.about__image-stone {
  position: absolute;
  right: 0;
  bottom: -11.67px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media screen and (min-width: 768px) {
  .about__image-stone {
    right: 120px;
    bottom: -146px;
    -webkit-transform: translateX(100%) translateY(0);
            transform: translateX(100%) translateY(0);
    z-index: 9;
  }
}
@media screen and (min-width: 1300px) {
  .about__image-stone {
    right: -61px;
    bottom: 127.63px;
  }
}
.about__image-stone img {
  width: 48px;
}
@media screen and (min-width: 768px) {
  .about__image-stone img {
    width: 101px;
  }
}

.about__image-wavyline-1,
.about__image-wavyline-2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .about__image-wavyline-1,
  .about__image-wavyline-2 {
    display: block;
    position: absolute;
  }
  .about__image-wavyline-1 img,
  .about__image-wavyline-2 img {
    width: 807px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .about__image-wavyline-1 {
    right: -71px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    bottom: 201px;
  }
}

@media screen and (min-width: 768px) {
  .about__image-wavyline-2 {
    right: -3px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    bottom: 168px;
  }
}

.about__image-goods {
  position: absolute;
  right: 37px;
  bottom: -53.67px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
@media screen and (min-width: 768px) {
  .about__image-goods {
    right: 10px;
    bottom: -115px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media screen and (min-width: 1300px) {
  .about__image-goods {
    right: -237px;
    bottom: -79px;
  }
}
.about__image-goods img {
  width: 133px;
}
@media screen and (min-width: 768px) {
  .about__image-goods img {
    width: 308px;
  }
}

.about__logo {
  position: absolute;
  z-index: 9;
  width: 355px;
  left: 50%;
  bottom: -139.67px;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}
@media screen and (min-width: 768px) {
  .about__logo {
    width: 891px;
    bottom: -167px;
  }
}

.about__slider {
  position: relative;
  z-index: 20;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.about__wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.about__slide {
  width: auto !important;
  overflow: hidden;
}
.about__slide img {
  width: 100px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.about__slide img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .about__slide img {
    width: 200px;
  }
}

.step {
  padding-top: 32px;
  padding-bottom: 20px;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .step {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.step__inner {
  max-width: 1064px;
  margin: 0 auto;
}

.step__container {
  position: relative;
  max-width: 335px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .step__container {
    max-width: 1024px;
  }
}

.step__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
  margin-top: 32px;
}
@media screen and (min-width: 900px) {
  .step__boxes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 41px;
  }
}

.step-box {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 16px;
}
@media screen and (min-width: 900px) {
  .step-box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 0;
  }
  .step-box:nth-child(2) {
    padding-top: 69px;
  }
}

.step-box__icon img {
  width: 196px;
}
@media screen and (min-width: 900px) {
  .step-box__icon img {
    width: 280px;
  }
}

.step-box__title {
  margin-top: 16px;
  color: #4a3636;
  -webkit-font-feature-settings: "pref" on;
          font-feature-settings: "pref" on;
  font-family: "Noto Sans JP", serif;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .step-box__title {
    margin-top: 24px;
    font-size: 20px;
  }
}

.step-box__text {
  margin-top: 16px;
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .step-box__text {
    font-size: 16px;
  }
}
.step-box__text .-bold {
  font-weight: 700;
}

.step-box__sns {
  margin-top: 16px;
}

.step-box__sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background: #ffffff;
}
.step-box__sns-link img {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .step-box__sns-link img {
    width: 24px;
    height: 24px;
  }
}
.step-box__sns-link span {
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .step-box__sns-link span {
    -webkit-font-feature-settings: "pref" on;
            font-feature-settings: "pref" on;
    font-size: 16px;
  }
}

.step-box__sns-text {
  text-align: left;
}

.step__image-wavyline-1,
.step__image-wavyline-2 {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}
@media screen and (min-width: 900px) {
  .step__image-wavyline-1,
  .step__image-wavyline-2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    top: 204px;
    right: -53px;
    left: auto;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
}
.step__image-wavyline-1 img,
.step__image-wavyline-2 img {
  width: 7px;
  height: 34px;
}
@media screen and (min-width: 900px) {
  .step__image-wavyline-1 img,
  .step__image-wavyline-2 img {
    width: 113px;
    height: 24px;
  }
}

.step__image-pawpads-1,
.step__image-pawpads-2,
.step__image-pawpads-3 {
  position: absolute;
  z-index: -1;
}
.step__image-pawpads-1 img,
.step__image-pawpads-2 img,
.step__image-pawpads-3 img {
  width: 55px;
  height: 120px;
}
@media screen and (min-width: 900px) {
  .step__image-pawpads-1 img,
  .step__image-pawpads-2 img,
  .step__image-pawpads-3 img {
    width: 100px;
    height: 220px;
  }
}

.step__image-pawpads-1 {
  top: -64px;
  right: 0;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
@media screen and (min-width: 900px) {
  .step__image-pawpads-1 {
    top: -37px;
    right: -108px;
    -webkit-transform: translateX(100%) scale(-1, 1);
            transform: translateX(100%) scale(-1, 1);
  }
}

.step__image-pawpads-2 {
  top: 410px;
  left: 0;
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}
@media screen and (min-width: 768px) {
  .step__image-pawpads-2 {
    left: -45px;
  }
}
@media screen and (min-width: 900px) {
  .step__image-pawpads-2 {
    bottom: -70px;
    left: -108px;
    -webkit-transform: translateX(-100%) scale(1, -1);
            transform: translateX(-100%) scale(1, -1);
  }
}

.step__image-pawpads-3 {
  top: 742px;
  right: 0;
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1);
}
@media screen and (min-width: 768px) {
  .step__image-pawpads-3 {
    right: -45px;
  }
}
@media screen and (min-width: 900px) {
  .step__image-pawpads-3 {
    display: none;
  }
}

.step__image-map {
  position: absolute;
  z-index: -1;
  top: -137px;
  left: -20px;
}
@media screen and (min-width: 900px) {
  .step__image-map {
    top: -245px;
    left: -208px;
  }
}
.step__image-map img {
  width: 134px;
}
@media screen and (min-width: 900px) {
  .step__image-map img {
    width: 420px;
  }
}

.step__image-cat-1 {
  position: absolute;
  z-index: 2;
  top: -53.33px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  right: -51px;
}
@media not screen and (min-width: 375px) {
  .step__image-cat-1 {
    right: -75px;
  }
}
@media screen and (min-width: 900px) {
  .step__image-cat-1 {
    top: -20px;
    right: -139px;
  }
}
.step__image-cat-1 img {
  width: 94px;
}
@media screen and (min-width: 900px) {
  .step__image-cat-1 img {
    width: 214px;
  }
}

.step__image-cat-2 {
  position: absolute;
  z-index: 1;
  top: -75px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  right: 4px;
}
@media not screen and (min-width: 375px) {
  .step__image-cat-2 {
    right: -18px;
  }
}
@media screen and (min-width: 900px) {
  .step__image-cat-2 {
    top: -70px;
    right: -13px;
  }
}
.step__image-cat-2 img {
  width: 105px;
}
@media screen and (min-width: 900px) {
  .step__image-cat-2 img {
    width: 238px;
  }
}

.step__button {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .step__button {
    text-align: center;
    margin-top: 48px;
  }
}

.prizes {
  padding-top: 37.67px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .prizes {
    padding-top: 157px;
  }
}

.prizes__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .prizes__container {
    padding-inline: 10px;
  }
}

.prizes__heading {
  position: absolute;
  z-index: 1;
  top: -62px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.prizes__heading .heading {
  padding-inline: 0px;
}
@media screen and (min-width: 768px) {
  .prizes__heading {
    top: -125px;
  }
}

.prizes__heading-bg {
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 237px;
}
@media screen and (min-width: 768px) {
  .prizes__heading-bg {
    top: -30px;
    width: 366px;
  }
  .prizes__heading-bg img {
    height: 156px;
  }
}

.prizes__heading-side-1,
.prizes__heading-side-2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .prizes__heading-side-1,
  .prizes__heading-side-2 {
    display: block;
    position: absolute;
  }
  .prizes__heading-side-1 img,
  .prizes__heading-side-2 img {
    width: 315px;
  }
}

@media screen and (min-width: 768px) {
  .prizes__heading-side-1 {
    top: 0;
    left: 0;
    -webkit-transform: scale(-1, 1) translateX(100%);
            transform: scale(-1, 1) translateX(100%);
  }
}
@media screen and (min-width: 900px) {
  .prizes__heading-side-1 {
    left: -2px;
  }
}
@media screen and (min-width: 1200px) {
  .prizes__heading-side-1 {
    left: -68px;
  }
}

@media screen and (min-width: 768px) {
  .prizes__heading-side-2 {
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@media screen and (min-width: 900px) {
  .prizes__heading-side-2 {
    right: -2px;
  }
}
@media screen and (min-width: 1200px) {
  .prizes__heading-side-2 {
    right: -68px;
  }
}

.prizes__content {
  margin-top: 63px;
  padding-top: 59px;
  padding-bottom: 33px;
  border-radius: 24px;
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .prizes__content {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-inline: 56px;
    padding-bottom: 55px;
  }
}

.prizes__text {
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  text-align: center;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .prizes__text {
    font-size: 16px;
  }
}

.prizes__boxes {
  margin-top: 24px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .prizes__boxes {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    row-gap: 40px;
    margin-top: 32px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
  }
}

.prizes-box {
  position: relative;
  padding-top: 24px;
}
.prizes-box:hover .prizes-box__image {
  border-top: 4px solid #9ed0e0;
  border-right: 4px solid #9ed0e0;
  border-left: 4px solid #9ed0e0;
}
.prizes-box:hover .prizes-box__image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.prizes-box:hover .prizes-box__image-text {
  border-right: 4px solid #9ed0e0;
  border-bottom: 4px solid #9ed0e0;
  border-left: 4px solid #9ed0e0;
}
.prizes-box:nth-child(5) {
  grid-row: 3/4;
  grid-column: 1/3;
}
@media screen and (min-width: 768px) {
  .prizes-box {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .prizes-box:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .prizes-box:nth-child(2) {
    grid-row: 1/2;
    grid-column: 4/7;
  }
  .prizes-box:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .prizes-box:nth-child(4) {
    grid-row: 2/3;
    grid-column: 3/5;
  }
  .prizes-box:nth-child(5) {
    grid-row: 2/3;
    grid-column: 5/7;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) {
    padding-top: 50px;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) .prizes-box__image {
    border-radius: 24px 24px 0 0;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) .prizes-box__image img {
    width: 440px;
    height: auto;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) .prizes-box__icon-bg img {
    width: 100px;
    height: 100px;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) .prizes-box__icon-text {
    top: 12px;
    font-size: 16px;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) .prizes-box__icon-num {
    top: 40.33px;
    font-size: 48px;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) .prizes-box__image-text {
    height: 120px;
    border-radius: 0 0 24px 24px;
    font-size: 20px;
  }
  .prizes-box:nth-child(n+1):nth-child(-n+2) .prizes-box__zoom-icon img {
    border-radius: 0 0 24px 0;
    width: 100px;
    height: 100px;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) {
    padding-top: 40px;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) .prizes-box__image {
    border-radius: 16px 16px 0 0;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) .prizes-box__image img {
    width: 280px;
    height: auto;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) .prizes-box__icon-bg img {
    width: 80px;
    height: 80px;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) .prizes-box__icon-text {
    top: 9.6px;
    border-radius: 0 0 16px 16px;
    font-size: 12.8px;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) .prizes-box__icon-num {
    top: 32.27px;
    font-size: 38.4px;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) .prizes-box__image-text {
    height: 80px;
    border-radius: 0 0 16px 16px;
    font-size: 16px;
  }
  .prizes-box:nth-child(n+3):nth-child(-n+5) .prizes-box__zoom-icon img {
    border-radius: 0 0 16px 0;
    width: clamp(3.125rem, -1.966rem + 10.61vw, 4rem);
    height: clamp(3.125rem, -1.966rem + 10.61vw, 4rem);
  }
}

.prizes-box__icon {
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.prizes-box__icon-bg img {
  width: 48px;
  height: 48px;
}

.prizes-box__icon-text,
.prizes-box__icon-num {
  position: absolute;
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.prizes-box__icon-text {
  top: 5.76px;
  font-family: "Noto Sans JP", serif;
  font-size: 7.68px;
}

.prizes-box__icon-num {
  top: 19.36px;
  font-family: "Josefin Sans", serif;
  font-size: 23.04px;
  line-height: 1; /* 23.04px */
}

.prizes-box__image {
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
.prizes-box__image img {
  width: clamp(10rem, 0.434rem + 40.82vw, 20rem);
  height: auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.prizes-box__image-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
  font-weight: 700;
  border-radius: 0 0 8px 8px;
  background: #f5f5f5;
}

.prizes-box__zoom-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}
.prizes-box__zoom-icon img {
  border-radius: 0 0 8px 0;
  width: 36px;
  height: 36px;
}

.prizes__button {
  margin-top: 17px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .prizes__button {
    margin-top: 40px;
  }
}

.prizes-modal {
  position: fixed;
  z-index: 50;
  inset: 0;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 24px;
  max-width: 336px;
  max-height: 480px;
  width: 100%;
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: opacity 0.3s, overlay 0.3s allow-discrete, display 0.3s allow-discrete, -webkit-transform 0.3s;
  transition: opacity 0.3s, overlay 0.3s allow-discrete, display 0.3s allow-discrete, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, overlay 0.3s allow-discrete, display 0.3s allow-discrete;
  transition: opacity 0.3s, transform 0.3s, overlay 0.3s allow-discrete, display 0.3s allow-discrete, -webkit-transform 0.3s;
}
.prizes-modal::-ms-backdrop {
  opacity: 0.7;
  background: #000;
}
.prizes-modal::backdrop {
  opacity: 0.7;
  background: #000;
}
.prizes-modal[open] {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
@media screen and (min-width: 768px) {
  .prizes-modal {
    max-width: 480px;
    max-height: 650px;
  }
}

@starting-style {
  .prizes-modal[open] {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
.prizes-modal__container {
  height: 480px;
}
@media screen and (min-width: 768px) {
  .prizes-modal__container {
    height: 650px;
  }
}

.prizes-modal__image img {
  max-width: 336px;
  max-height: 210px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .prizes-modal__image img {
    max-width: 480px;
    max-height: 300px;
  }
}

.prizes-modal__title {
  margin-top: 39px;
  color: #4a3636;
  -webkit-font-feature-settings: "pref" on;
          font-feature-settings: "pref" on;
  font-family: "Noto Sans JP", serif;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .prizes-modal__title {
    margin-top: 32px;
    font-size: 20px;
  }
}

.prizes-modal__text {
  margin-top: 12px;
  padding-inline: 20px;
  color: #000;
  font-family: "Noto Sans JP", serif;
  text-align: center;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .prizes-modal__text {
    padding-inline: 40px;
    font-size: 16px;
  }
}

.prizes-modal__button {
  margin-top: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .prizes-modal__button {
    margin-top: 24px;
  }
}

.prizes__image-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -44px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .prizes__image-bottom {
    margin-top: 0;
    width: 100%;
  }
}
.prizes__image-bottom img {
  display: block;
  min-width: 580px;
}
@media screen and (min-width: 768px) {
  .prizes__image-bottom img {
    width: 100%;
  }
}

.spots {
  position: relative;
  background: #67b0c7;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .spots {
    padding-bottom: 5px;
  }
}

.spots__content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .spots__content-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 38px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.spots__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .spots__heading {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    padding-left: clamp(3.75rem, -8.121rem + 24.73vw, 15.25rem);
  }
}

.spots__heading-icon img {
  width: 28px;
  height: 28px;
}
@media screen and (min-width: 768px) {
  .spots__heading-icon img {
    width: 56px;
    height: 56px;
  }
}

.spots__heading-text {
  color: #ffffff;
  -webkit-font-feature-settings: "pwid" on;
          font-feature-settings: "pwid" on;
  font-family: "Kiwi Maru", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25; /* 35px */
}
@media screen and (min-width: 768px) {
  .spots__heading-text {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-size: 40px;
    line-height: 1.25; /* 35px */
    letter-spacing: 0.26em;
  }
}

.spots__pawpads {
  display: none;
}
@media screen and (min-width: 1200px) {
  .spots__pawpads {
    display: block;
    position: absolute;
    z-index: 100;
    right: clamp(6.375rem, -7.087rem + 17.95vw, 9.875rem);
    bottom: -22px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .spots__pawpads img {
    width: 100px;
    height: 220px;
  }
}

@media screen and (min-width: 768px) {
  .spots__slider {
    position: relative;
    overflow: hidden;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 50px;
    margin-left: -50px;
    padding-bottom: 38px;
    margin-bottom: -38px;
  }
}

.spots__slide {
  width: 240px;
  height: 402px;
}
@media screen and (min-width: 768px) {
  .spots__slide {
    width: 344px;
    height: 542px;
  }
}

.spots-card {
  border-radius: 12px;
  background: #ffffff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .spots-card {
    border-radius: 24px;
  }
}

.spots-card__image img {
  width: 100%;
}

.spots-card__texts {
  padding-inline: 24px;
}
@media screen and (min-width: 768px) {
  .spots-card__texts {
    padding-inline: 32px;
  }
}

.spots-card__title {
  margin-top: 16px;
  text-align: center;
  color: #4a3636;
  -webkit-font-feature-settings: "pref" on;
          font-feature-settings: "pref" on;
  font-family: "Noto Sans JP", serif;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .spots-card__title {
    margin-top: 24px;
    font-size: 20px;
  }
}

.spots-card__description {
  margin-top: 16px;
  text-align: left;
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .spots-card__description {
    margin-top: 24px;
    font-size: 16px;
  }
}

.spots__prev-button,
.spots__next-button {
  display: none;
}
@media screen and (min-width: 768px) {
  .spots__prev-button,
  .spots__next-button {
    margin-top: 196px;
    display: block;
    width: 80px;
    height: 80px;
  }
  .spots__prev-button::after,
  .spots__next-button::after {
    display: none;
  }
}

.spots__prev-button {
  background: url(../../img/spots/spots-swiper-button.png) no-repeat center center/contain;
  left: 0;
}

.spots__next-button {
  background: url(../../img/spots/spots-swiper-button.png) no-repeat center center/contain;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  right: clamp(6.875rem, -4.351rem + 23.39vw, 17.75rem);
}

.spots__content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .spots__content-2 {
    margin-top: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 81px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
}

.spots__logo {
  text-align: center;
}
.spots__logo img {
  width: 255px;
}
@media screen and (min-width: 768px) {
  .spots__logo img {
    width: 495px;
  }
}

.spots__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .spots__footer {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 27px;
  }
}

.spots__footer-text {
  color: #ffffff;
  text-align: center;
  font-family: "Noto Sans JP", serif;
  font-size: 11.444px;
}
@media screen and (min-width: 768px) {
  .spots__footer-text {
    font-size: 16px;
  }
}

.spots__footer-button {
  text-align: center;
}

.spots__top-wave,
.spots__bottom-wave {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0;
}

.spots__top-wave {
  top: 1px;
  -webkit-transform: translateY(-100%) translateX(-50%);
          transform: translateY(-100%) translateX(-50%);
}

.spots__bottom-wave {
  z-index: -1;
  bottom: 1px;
  -webkit-transform: translateY(100%) translateX(-50%);
          transform: translateY(100%) translateX(-50%);
}
.spots__bottom-wave .spots__wave-img {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.spots__wave-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../../img/spots/spots-wave.png) no-repeat center center/contain;
  width: 96px;
  height: 46px;
  margin-right: -1px;
}
@media screen and (min-width: 768px) {
  .spots__wave-img {
    background-image: url(../../img/spots/pc/spots-wave.png);
    width: 252px;
    height: 120px;
  }
}

.qa {
  padding-top: 87px;
  padding-bottom: 500px;
}

.qa__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.qa__box {
  border-radius: 12px;
  border: 2px solid #4a3636;
  background: #ffffff;
  overflow: hidden;
}
.qa__box:first-child .qa__body {
  display: block;
}
.qa__box.is-open .qa-question .qa-question__open-icon .qa-question__open-icon-bar:nth-child(1) {
  display: none;
}
.qa__box.is-open .qa-question .qa-question__open-icon .qa-question__open-icon-bar:nth-child(2) {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
          transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.qa-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
  padding: 10px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.qa-question__icon,
.qa-answer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9ed0e0;
  font-family: "Josefin Sans", serif;
  font-size: 24px;
  line-height: 1.25; /* 30px */
}

.qa-question__text,
.qa-answer__text {
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.qa-question__text span,
.qa-answer__text span {
  text-decoration-line: underline;
}

.qa-answer__text {
  font-weight: 400;
}

.qa-question__open-icon {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 26.182px;
  height: 26.182px;
  background-color: #9ed0e0;
  border-radius: 50%;
}

.qa-question__open-icon-bar {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.qa-question__open-icon-bar:nth-child(1) {
  width: 10px;
  height: 1.5px;
}
.qa-question__open-icon-bar:nth-child(2) {
  width: 1.5px;
  height: 10px;
}

.qa__body {
  display: none;
}

.qa-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
  padding: 16px 14px 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
}

.button {
  display: inline-block;
  border-radius: 40px;
  border: 2px solid #4a3636;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 0px 0px #4a3636;
          box-shadow: 0px 4px 0px 0px #4a3636;
  color: #4a3636;
  font-family: "Noto Sans JP", serif;
  font-weight: 700;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.button.-small {
  font-size: 14px;
  padding: 2px 22px 4px;
}
@media screen and (min-width: 768px) {
  .button.-small {
    font-size: 16px;
    padding: 4px 22px 6px;
  }
}
.button.-small-2 {
  font-size: 14px;
  padding: 4px 22px 6px;
}
.button.-medium {
  font-size: 16px;
  padding: 4px 22px 6px;
}
@media screen and (min-width: 768px) {
  .button.-medium {
    font-size: 20px;
    padding: 8px 38px 10px;
  }
}
.button:hover {
  background: #ffee56;
}

.link {
  position: relative;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #67b0c7;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.link:hover {
  color: #67b0c7;
}
.link:hover::after {
  opacity: 1;
}
.link.-underline::after {
  background-color: #4a3636;
  opacity: 1;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.link.-underline:hover::after {
  background-color: #67b0c7;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .heading {
    padding-inline: 20px;
    gap: 8px;
  }
}

.heading__icon img {
  width: 37.333px;
  height: 37.333px;
}
@media screen and (min-width: 768px) {
  .heading__icon img {
    width: 48px;
    height: 48px;
  }
}

.heading__en {
  color: #4a3636;
  font-family: "Courgette", serif;
  font-size: 16px;
  line-height: 1.25; /* 20px */
}
@media screen and (min-width: 768px) {
  .heading__en {
    font-size: 20px;
  }
}

.heading__ja {
  position: relative;
  padding-bottom: 12px;
  color: #4a3636;
  font-family: "Kiwi Maru", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25; /* 25px */
}
@media screen and (min-width: 768px) {
  .heading__ja {
    padding-bottom: 16px;
    -webkit-font-feature-settings: "pwid" on;
            font-feature-settings: "pwid" on;
    font-size: 32px;
  }
}
.heading__ja::after {
  content: "";
  position: absolute;
  background-color: #ffee56;
  width: 100%;
  height: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

@media screen and (min-width: 600px) {
  .sm-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .md-hidden {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .lg-hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .xl-hidden {
    display: none;
  }
}

@media not screen and (min-width: 768px) {
  .not-md-hidden {
    display: none;
  }
}

.inline-block {
  display: inline-block;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}