@use "../foundation/variable" as var;
@use "../foundation/breakpoints";

.drawer {
  position: fixed;
  z-index: 19; // ヘッダーより優先度を下げる（上部からドロワーメニューが降りてくる為）
  background: var.$color-mono-white;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 59px); // ヘッダーの高さ分を引く
  transform: translateY(-200%);
  transition: transform 0.6s ease-in-out;

  &.is-checked {
    transform: translateY(0);
  }

  @include breakpoints.mq("md") {
    display: none;
  }
}

.drawer__nav-list {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.drawer__nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.drawer__nav {
  color: var.$color-mono-brown;
  font-family: var.$font-family-ja-noto;
  font-size: 14px;
}

.drawer__button {
  a {
    display: inline-block;
  }
}
