@use "../foundation/variable" as var;
@use "../foundation/breakpoints";

.spots {
  position: relative;
  background: var.$color-sub-d-blue;
  padding-bottom: 20px;
}

.spots__inner {
}

// 見出しとSwiper
.spots__content-1 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.spots__heading {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.spots__heading-icon {
  img {
    width: 28px;
    height: 28px;
  }
}

.spots__heading-text {
  color: var.$color-mono-white;
  font-feature-settings: "pwid" on;
  font-family: var.$font-family-ja-kiwi;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25; /* 35px */
}

.spots__slider {
}

.spots__swiper {
}

.spots__wrapper {
}

.spots__slide {
  width: 240px;
  height: 402px;
}

.spots-card {
  border-radius: 12px;
  background: var.$color-mono-white;
  width: 100%;
  height: 100%;
  overflow: hidden; // 画像の角がはみだすのを防ぐ
}

.spots-card__image {
  img {
    width: 100%;
  }
}

.spots-card__texts {
  padding-inline: 24px;
}

.spots-card__title {
  margin-top: 16px;
  text-align: center;
  color: var.$color-mono-brown;
  font-feature-settings: "pref" on;
  font-family: var.$font-family-ja-noto;
  font-size: 16px;
  font-weight: 700;
}

.spots-card__description {
  margin-top: 16px;
  text-align: center;
  color: var.$color-mono-brown;
  font-family: var.$font-family-ja-noto;
  font-size: 12px;
}

.spots__prev-button,
.spots__next-button {
  display: none;
  @include breakpoints.mq("md") {
    display: block;
  }
}
.spots__prev-button {
}
.spots__next-button {
}

.spots__content-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spots__logo {
  text-align: center;
  img {
    width: 255px;
  }
}

.spots__footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.spots__footer-text {
  color: var.$color-mono-white;
  text-align: center;
  font-family: var.$font-family-ja-noto;
  font-size: 11.444px;
}

.spots__footer-button {
  text-align: center;
}

.spots__top-wave,
.spots__bottom-wave {
  overflow: hidden;
  position: absolute;
  width: 100%;
  left: 50%;
  display: flex;
  flex-direction: row;
  gap: 0;
  img {
    width: 96px;
    height: 46px;
    margin-right: -1px;
  }
}
.spots__top-wave {
  top: 1px;
  transform: translateY(-100%) translateX(-50%);
}
.spots__bottom-wave {
  bottom: 1px;
  transform: translateY(100%) translateX(-50%);
  img {
    transform: scale(1, -1);
  }
}

.spots__pawpads {
  display: none;
  @include breakpoints.mq("md") {
    display: block;
  }
}
